header#header {
  display: flex;
  background-color: #1d1d1d;
  width: 100vw;
  height: 7vh;
  align-items: center;
  position: fixed;
  top: 0;
}
#header h3 {
  padding: 2vw 2vh;
  color: #d1d1d1;
  font-size: 3vh;
  margin: 0;
}
